Repository jupyterhub/jupyter-server-proxy, pull requests merged in 2023-09, with the labels that each got.

#419 Add JupyterLab 4 support for the extension
  .github/workflows/test.yaml
  .gitignore
  CONTRIBUTING.md
  labextension/.yarnrc
  labextension/.yarnrc.yml
  labextension/README.md
  labextension/package.json
  labextension/yarn.lock
  pyproject.toml
Labels: new, code:jupyterlab-extension

#422 labextension: refreeze yarn.lock
  labextension/yarn.lock
Labels: dependencies, code:jupyterlab-extension

#425 Add extension for Jupyter Notebook 7
  .github/workflows/publish.yaml
  .github/workflows/test.yaml
  CONTRIBUTING.md
  README.md
  labextension/.yarnrc
  labextension/.yarnrc.yml
  labextension/README.md
  labextension/package.json
  labextension/src/index.ts
  labextension/src/tokens.ts
  labextension/yarn.lock
  pyproject.toml
  tests/acceptance/Classic.robot
  tests/acceptance/Lab.robot
  tests/acceptance/Notebook.robot
  tests/acceptance/__init__.robot
  tests/acceptance/resources/jupyter_config.json
  tests/acceptance/test_acceptance.py
  tests/conftest.py
  tests/resources/jupyter_server_config.py
Labels: new, code:jupyterlab-extension

#423 Add changelog for 4.1.0
  docs/source/changelog.md
Labels: documentation
